################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestTriangle.HOA/TestTriangle.HOA.API/Command
/TestTriangle.HOA/TestTriangle.HOA.API/bin
/TestTriangle.HOA/.vs/TestTriangle.HOA/v16
/TestTriangle.HOA/.vs/TestTriangle.HOA/DesignTimeBuild
/TestTriangle.HOA/.vs/TestTriangle.HOA/config
/TestTriangle.HOA/TestTriangle.HOA.API/Properties
/TestTriangle.HOA/TestTriangle.HOA.API/obj
/TestTriangle.HOA/TestTriangle.HOA.API/appsettings.json
/TestTriangle.HOA/TestTriangle.HOA.API/appsettings.Development.json
/TestTriangle.HOA/TestTriangle.HOA.API/TestTriangle.HOA.API.csproj.user
/TestTriangle.HOA/TestTriangle.HOA.API.Test/obj
/TestTriangle.HOA/TestTriangle.HOA.API.Test/bin/Debug
/TestTriangle.HOA/TestTriangle.HOA.Common/obj
/TestTriangle.HOA/TestTriangle.HOA.Common/bin
/TestTriangle.HOA/TestTriangle.HOA.Data/bin/Release/netcoreapp2.2
/TestTriangle.HOA/TestTriangle.HOA.Data/bin/Debug/netcoreapp2.2
/TestTriangle.HOA/TestTriangle.HOA.Data/obj
/TestTriangle.HOA/TestTriangle.HOA.Data.Repository/bin
/TestTriangle.HOA/TestTriangle.HOA.Data.Repository/obj
/TestTriangle.HOA/TestTriangle.HOA.Data.Repository.Test/obj
/TestTriangle.HOA/TestTriangle.HOA.Data.Repository.Test/bin/Debug/netcoreapp2.2
/TestTriangle.HOA/TestTriangle.HOA.Extensions/obj
/TestTriangle.HOA/TestTriangle.HOA.Extensions/bin
/TestTriangle.HOA.MVCWebApp/TestTriangle.Web/bin
/TestTriangle.HOA.MVCWebApp/TestTriangle.Web/AppCreationScripts
/TestTriangle.HOA.MVCWebApp/.vs/TestTriangleHOA.Web/v16
/TestTriangle.HOA.MVCWebApp/.vs/TestTriangleHOA.Web/DesignTimeBuild
/TestTriangle.HOA.MVCWebApp/.vs/TestTriangleHOA.Web/config
/TestTriangle.HOA.MVCWebApp/TestTriangle.Web/Properties
/TestTriangle.HOA.MVCWebApp/TestTriangle.Web/obj
/TestTriangle.HOA.MVCWebApp/TestTriangle.Web/wwwroot/.DS_Store
/TestTriangle.HOA.MVCWebApp/TestTriangle.Web/TestTriangleHOA.Web.csproj.user
/TestTriangle.HOA.MVCWebApp/TestTriangle.Web/appsettings.json
/TestTriangle.HOA.MVCWebApp/TestTriangle.Web/appsettings.Development.json
/Documentation
